*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
input[type="submit"]{
    cursor: pointer;
}
button{
    cursor: pointer;
}

/*Блок стилей для header*/
header{
    background: url(img/fon_header.jpg);
    height: 150px;
    display: flex;
    align-items: center;
    
}
.header{
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
}

/*Блок стилей для левого блока header с логтипом*/
.logo_info{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 15px;
}
.logo_text a{
    text-decoration: none;
    color: #000;
}
.logo_text h1{
    font-size: 30px;
}
.logo_text p{
    font-size: 14px;
}
.logo_text_gray{
    color: #aaaaaa;
}

/*Блок стилей для правого блока header с ссылками на социальные страницы*/

.contacts_info_header{
    text-align: right;
}
.tel{
    margin-bottom: 12px;
}
.tel_email{
    font-size: 14px;
    color: #1d8b15;
}
.tel_email_data{
    font-weight: bold;
    font-size: 18px;
}
.tel_email_data a{
    text-decoration: none;
    color: #000;
}
.small_text{
    color: #666666;
    font-size: 12px;
}
.email{
    margin-bottom: 12px;
}
.social_link a{
    margin-right: 3px;
}


/*Блоки стилей для навигационного меню*/
.nav{
    width: 100%;
    height: 45px;
    background: linear-gradient(to bottom, #434343, #343434);
}
nav{
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #ffffff;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: left;
    list-style-type: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 14px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: #333333;
    color: #77e070;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 200px;
    top: 45px;
    left: 0;
    background-color: white;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background: linear-gradient(to bottom, #434343, #343434);
    text-decoration: none;
}
.submenu > li:last-child > a{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
ul.submenu > li > a:hover {
    background: #333333;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}



/*Блоки стилей для main*/
main{
    background: url(img/background.jpg);
    padding-top: 30px;
    padding-bottom: 30px;
}
.main{
    width: 94.2%;
    display: grid;
    grid-template-columns: 25% 75%;
    justify-items: center;
}
.main_text_info{
    margin-bottom: 35px;
}
.main_text_info h2{
    margin-bottom: 20px;
}
.main_text_info a{
    color: #0083df;
}


/*Блоки стилей для !!!Популярные товары*/
.shop-block{
    margin-top: 40px;
    width: 730px;
}
.shop-block h2{
    margin-bottom: 20px;
    font-size: 22px;
}

.goods-blocks {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
}
.good-block {
    height: 320px;
    width: 226px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background-color: #fff;
    display: grid;
    grid-template-rows: 50px 140px 60px 24px 45px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.title-product{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
}
.title-product h3{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 160px;
}
.text-product {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
}
.text-product p{
    text-align: center;
    font-size: 12px;
    width: 95px;
}
.price {
    font-size: 18px;
    color: #298f22;
    font-weight: bold;
    
}
.button-in-basket button{
    margin-bottom: -5px;
    width: 75px;
    height: 25px;
    background: linear-gradient(to bottom, #4dce44, #42b23a);
    border-radius: 3px;
    color: #fff;
    border: none;
    font-size: 12px;
    box-shadow: 0.1em 0.1em 0.3em 0.5px rgba(122,122,122,0.5);
}


/*Стилизация пагинации*/
.navigation {
    margin-top: 20px;
    width: 256px;
    height: 30px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.navigation input:hover{
    color: #fff;
    background-color: #41b039;
}
.page-down[type="submit"]{
    border: none;
    width: 92px;
    height: 30px;
    font-size: 12px;
    padding: 8px 10px 9px 10px;
    border-right: 1px solid #cccccc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #afafaf;
    background-color: #fff;
}
.page-down[type="submit"]:hover{
    color: #afafaf;
}
.number-page[type="submit"]{
    border: none;
    width: 24px;
    height: 30px;
    font-size: 12px;
    padding: 8px 10px 9px 8px;
    border-right: 1px solid #cccccc;
    border-radius: 0px;
    background-color: #fff;
}
.active[type="submit"]{
    color: #fff;
    background: #41b039;
}
.page-up[type="submit"]{
    border: none;
    width: 92px;
    height: 30px;
    font-size: 12px;
    padding: 8px 10px 9px 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #fff;
}






/*Блоки стилей для информационных блоков слева*/
/*Первый блока слева Корзина*/
.main_left_block{
    display: grid;
    grid-template-rows: 87px 107px 463px;
    grid-row-gap: 20px;
}
.left_block_info{
    width: 220px;
    border-radius: 3px;
    box-shadow: -0.1em 0.1em 0.1em 2.5px rgba(122,122,122,0.5);
    background-color: #ffffff;
}
.left_block_info_name{
    display: flex;
    background-color: #41b039;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.left_block_info_name h2{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin-left: 11px;
}
.left_block_info_name img{
    width: 16px;
    height: 16px;
}
.left_block_info_text{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.left_block_info_text p{
    font-size: 14px;
}


/*Второй блок слева Поиск*/

/*Стилизация для кнопки поиск внутри текстового input*/
.block_search{
    width: 200px; /* Ширина поля с кнопкой */
    border: 1px solid #cccccc; /* Параметры рамки */
    border-radius: 3px;
    min-height: 30px; /* Минимальная высота */
    display: flex;
    align-items: center;
}
input[type="search"]{
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 145px; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
    font-size: 14px;
    padding-left: 5px;
}
input[type="submit"]{
    width: 50px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    border: 1px solid #cccccc; /* Параметры рамки */
    border-radius: 3px;
    font-size: 11px;
    
}
.find_text {
    color: #cccccc;
    font-size: 12px;
    margin-top: 3px;
}



/*Третий блок слева*/
.left_block_main {

}
.left_block_main_link {
    border-bottom: 1px solid #cccccc;
    height: 42px;
    display: flex;
    align-items: center;
}
.left_block_main_link a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0083df;
    font-size: 14px;
    width: 220px;
    height: 41px;
    padding: 0px 0px 0px 9px;
}    
.left_block_main_link a:hover{
    background-color: #f8f8f8; 
    color: #444444;  
} 








/*Блоки стилей для footer*/
footer{
    height: 75px;
    width: 100%;
    border-top: 3px solid #dddddd;
    display: flex;
}
.block_footer{
    width: 94.2%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright p{
    font-size: 12px;
}
.link_footer a{
    margin-right: 18px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #0083df;
}